body {
  background: #BDDAD8;
}
header {
  height: 100px;
  background: #95C2BF;
  text-align: left;
  padding: 30px;
  margin: -10px;
  border-bottom: 1px solid black;
}

h1 {
  color: black;
}

nav {
  width: 350px;
  height: 20px;
  background: #BDDAD8;
  margin: 45px;
}

nav ul {

}

nav li {
  float: left;
  list-style-type: none;
  padding: 0 10px;
}

section {
  width: 500px;
  background: #4E918C;
}

h2 {
  color: #000;
  padding: 10 px 0 0 10px;
}

.artikkeli {
  background: #4E918C;
  border-bottom: 1px solid black
}
article {
  background: #4E918C;
}

article p {
  padding: 10px;
}

aside {
  width: 200px;
  height: 502px;
  background: #4E918C;
  float: right;
  margin-top: 20px;
  border: 1px solid black;
}

h3 {
  color: black;
  padding: 10px 0 0 10px;
}

aside article {
  width: 200px;
  background: #4E918C;
  color: black;
}

footer {
  height: 40px;
  background: #95C2BF;
  margin-top: -16px;
  border: 1px solid black;
}

footer p {
  text-align: left;
  margin: 10px;
}
/* classit */
.lähde {
  text-align: right;
}
