body {
  background-image: url(question.png);
}
body div {
  background-color: orange;
}
body section {
  background-color: orange;;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
  width: auto;
}
body footer {
  background-color: orange;
  margin: 25px;
  padding: 1px;
}

#sisalto {
  margin: 25px;
  padding-bottom: 1px;
  padding-top: 1px;
}

.keskitaTxt1 {
  text-align: center;
}

.keskitaTxt2 {
  text-align: center;
}
